/* --------- 6.4 Gallery ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gallery img {
    max-height: 300px;
}

#gallery [class*='col-'] {
    padding: 0;
}

#gallery a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#gallery img {
    width: 420px;
    height: 300px;
}




/* Add this to your Tailwind CSS file or within a <style> tag */
.switch input:checked+.slider {
    background-color: #468585;
}

.switch input:checked+.slider:before {
    transform: translateX(1.25rem);
}

.slider:before {
    content: "";
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}


.bg-light-green {
    background-color: #def9c4;
}

.bg-medium-green {
    background-color: #9cdba6;
}

.bg-dark-green {
    background-color: #50b498;
}

.bg-darker-green {
    background-color: #468585;
}



/* Footer */

.wa-footer {
    position: fixed;
    bottom: -100px;
    /* Initially off-screen */
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wa-anim .5s ease-out 1s forwards;
}

.wa-footer::before {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #90ee90;
    border-radius: 50%;
    content: "";
    z-index: -1;
    transform: scale(0);
    pointer-events: none;
    animation: wa-anim-glow 1.5s ease-out 3s infinite;
}

@keyframes wa-anim {
    to {
        bottom: 20px;
        /* Final position on screen */
    }
}

@keyframes wa-anim-glow {

    0%,
    100% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0;
    }
}